<header
  class="h-24 bg-background text-foreground flex justify-between items-center border-b"
>
  <h1>Portfolio</h1>
  <nav class="flex gap-6 font-semibold text-lg">
    <p
      class="hover:cursor-pointer relative"
      routerLink="cybersecurity"
      routerLinkActive="nav-active"
    >
      Ciberseguridad
    </p>
    <p>|</p>
    <p
      class="hover:cursor-pointer relative"
      routerLink="web-development"
      routerLinkActive="nav-active"
    >
      Desarrollo Web
    </p>
  </nav>
  <app-toggle />
</header>
