.nav-active::before {
  content: "{";
  position: absolute;
  left: -15px;
}

.nav-active::after {
  content: "}";
  position: absolute;
  right: -15px;
}

@media (max-width: 767px) {
  .nav-active::before {
    content: "";
  }
  .nav-active::after {
    content: "";
  }
}

@media (max-width: 767px) {
  .menu {
    display: none; /* Por defecto, el menú está oculto en pantallas pequeñas */
  }

  .menu-open {
    display: block; /* Si el menú está abierto, se muestra en pantallas pequeñas */
  }
}
