<header
  class="relative h-24 bg-background text-foreground flex justify-between items-center border-b"
>
  <div class="flex flex-col items-center justify-center gap-2 p-2 w-50">
    <ng-icon class="text-xl xs:text-lg" name="bootstrapTerminal"></ng-icon>
    <h1 class="text-sm xs:text-xs">Facundo_Alem_Dev</h1>
  </div>
  <nav
    class="flex gap-6 md:gap-0 font-semibold text-lg md:text-sm md:fixed md:h-screen md:w-44 md:top-0 md:right-0 md:flex-col md:bg-background md:pt-32 md:border-l-2 md:items-center"
    [ngClass]="{ 'md:flex': isMenuOpen, 'md:hidden': !isMenuOpen }"
  >
    <p
      class="hover:cursor-pointer relative md:hidden"
      routerLink="cybersecurity"
      routerLinkActive="nav-active"
    >
      Ciberseguridad
    </p>
    <div
      class="hidden md:flex md:w-full md:justify-center md:items-center md:p-1 md:hover:bg-slate-800 md:border-t-[1px]"
    >
      <p
        (click)="closeMenu()"
        class="hover:cursor-pointer relative"
        routerLink="cybersecurity"
        routerLinkActive="nav-active"
      >
        Ciberseguridad
      </p>
    </div>
    <p class="md:hidden">|</p>
    <p
      class="hover:cursor-pointer relative md:hidden"
      routerLink="web-development"
      routerLinkActive="nav-active"
      (click)="closeMenu()"
    >
      Desarrollo Web
    </p>
    <div
      class="hidden md:flex md:w-full md:justify-center md:items-center md:p-1 md:hover:bg-slate-800 md:border-t-[1px] md:border-b-[1px]"
    >
      <p
        (click)="closeMenu()"
        class="hover:cursor-pointer relative"
        routerLink="web-development"
        routerLinkActive="nav-active"
      >
        Desarrollo Web
      </p>
    </div>
  </nav>
  <div class="w-40 flex justify-end items-center">
    <div class="md:z-10 hover:cursor-pointer">
      <app-toggle />
    </div>
    <div
      (click)="toggleMenu()"
      class="hidden md:flex md:z-10 hover:cursor-pointer"
    >
      <ng-icon name="lucideMenu" class="text-2xl" />
    </div>
  </div>
</header>
