<div
  class="bg-background text-foreground min-h-screen flex items-center flex-col pt-10"
>
  <div class="h-10 w-full flex justify-center items-center">
    <h3 class="text-2xl font-bold md:text-xl">Proyectos</h3>
  </div>
  <div class="flex justify-center w-full pt-5 flex-wrap">
    @for (website of websites; track website.id){
    <div class="flex flex-col items-center gap-4 p-2 xs:border-b-[1px]">
      <p class="font-bold xs:text-base">{{ website.title }}</p>
      <div
        class="w-96 xs:w-full md:hover:transform-none rounded border-4 hover:scale-105 hover:cursor-pointer"
        (click)="openLink(website.link)"
      >
        <img src="{{ website.image }}" alt="{{ website.title }}" />
      </div>
      <div
        class="text-sm xs:text-xs flex flex-col justify-center gap-1 items-center"
      >
        <div class="flex gap-2 p-2">
          <p class="text-center">{{ website.description }}</p>
        </div>
        <div class="flex gap-2 xs:gap-1 items-center">
          <ng-icon name="bootstrapGithub" class="" />
          <p
            class="font-bold hover:cursor-pointer hover:text-blue-600"
            (click)="openLink(website.frontRepository)"
          >
            Front-Repo
          </p>
        </div>
        @if (website.backRepository) {
        <div class="flex gap-2 xs:gap-1 items-center">
          <ng-icon name="bootstrapGithub" class="" />
          <p
            class="font-bold hover:cursor-pointer hover:text-blue-600"
            (click)="openLink(website.backRepository)"
          >
            Back-Repo
          </p>
        </div>
        }
        <div class="flex gap-2 xs:gap-1 items-center">
          <p
            class="font-bold hover:cursor-pointer hover:text-blue-600"
            (click)="openLink(website.link)"
          >
            <ng-icon name="dripWeb" class="" />
            Vercel
          </p>
        </div>
      </div>
    </div>
    }
  </div>
</div>
