p {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  border-right: 0.15em solid gray;
  animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
